body {
    background: url('pngtree-abstract-background-of-golden-glitter-with-pink-vector-image_311149.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f6f6;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 2px solid #f8c6d8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.display {
    background: #f8c6d8;
    color: #333;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.btn {
    background-color: #f8c6d8;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
}

.btn-zero {
    grid-column: span 2;
}

.btn:hover {
    background-color: #f9b3c1;
}

.btn:active {
    background-color: #f8929b;
}

.hello-kitty-img {
    position: absolute;
    bottom: 250px;
    right: -150px;
    width: 250px;
    height: auto;
    z-index: -1;
}

.hello-kitty-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.logo-hello-kitty-img {
    position: absolute;
    bottom: 350px;
    right: 100;
    width: 250;
    height: auto;
    z-index: -1;
}

.logo-hello-kitty-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}